<!-- here to can access to the variables on Login class -->
@model Login
@{
    <!-- the title of the page-->
    ViewData["Title"] = "Display Login";
}

<h1>Helllo</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="col-12 border p-3 mt-3">
    <form method="post">
        @if ()
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                     
                    </th>
                </tr>
               
                {
                    <tr>
                        <td>
                    
                        </td>
                    </tr>
                }
            </table>

        }
        else
        {
            <p> There is no Logins </p>
        }

    </form>
 </div>

