@{
    ViewData["Title"] = "Check Login";
}
<h1>@ViewData["Title"]</h1>

<p>Please make sure your admin credentials are correct!!</p>

<p>Proceed to admin login <a href="/secureAdminLoginXYZ">HERE</a>.</p>